#img_source {
    opacity: 1;
    transition: opacity 2.5s; 
}

#img_source.fadeOut {
    opacity: 0;
}


h1 {
	text-align: center;
	font-size: 70px;
	margin-bottom: 40px;
	color: darkgrey;
	font-family: 'Tillana', cursive;
}

#picture_container {
	width: 45%;
	margin: 0px auto;
}

img {
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
}

#text_container {
	width: 60%;
	margin: 50px auto;
}


p {
	margin-top: 40px;
	text-align: left;
	color: grey;
	font-family: 'Tillana', cursive;
}